* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
    background-color: #1E90FF;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}

.nav-link:hover{
  color: #080808;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}

/* responsive */
@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #1E90FF;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
}
.gambar{
  position: relative;
  z-index: 0;
  width: 100%;
  height: auto;
  margin: auto;
  text-align: right;
}
.gambar img{
  position: relative;
  width: 250px;
  z-index: 1;
  margin-bottom: 10px;
}
.gambar .paraghrap{
  position: absolute;
  top: 80px;
  width: 80%;
  height: 200px;
  margin-left: 10px;  
  z-index: 2;
} 
.gambar .paraghrap .text{
  width: 50%;
  text-align: left;
}
.paragrap {
  color: #666;
  margin-top: 10px;
}

.card {
  width: 50%;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
 }
 
 ul {
  list-style-type: none;
  padding: 0;
  display: flex;
 }
 
 li {
  font-size: 14px;
  position: relative;
  padding: 10px;
  margin: 5px 0;
  display: flex;
 }

 .img-doctor,
 .img-patient,
 .img-bills {
  height: 50px;
 }

form {
  margin: 20px auto;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

/* Search results styles */
#searchResults {
  list-style-type: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 0;
}

#message {
  width: 100%;
}

.h-pasien {
  margin-top: 60px;
}

.card2 {
  width: 50%;
  padding: 10px;
  margin: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
}

.card3 {
  width: 50%;
  padding: 10px;
  margin: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
}
